<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <title>Vue Example</title>
  <style>
    .colorBox {
      width: 40px;
      height: 40px;
      margin: 5px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;"></nav>
  <div id="app">
    <div class="cart">
      <p>Cart({{cart}})</p>
    </div>
    <product @add-to-cart="updateCart"></product>
  </div>
</body>
<script>
  Vue.component('product', {
    template: `
  <div class="product">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="productImage">
            <img v-bind:src="image" alt="productImage" width="200" height="200">
          </div>
        </div>
        <div class="col">
          <div class="productInfor">
            <h1>
              {{product}}
            </h1>
            <p v-if="inStock"> In Stock</p>
            <p v-else> Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <div v-for="(variant, index) in variants" :key="variant.variantId"
              :style="{backgroundColor: variant.variantColor}" @mouseover="updateProduct(index)" class="colorBox">
            </div>
            <button v-on:click="addToCart" :disabled="!inStock">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    `,
    data() {
      return {
        product: 'Socks',
        selectedProduct: 0,
        details: ["80% cotton", '20% polyester', 'Gender-neutral'],
        variants: [{
          variantId: 1,
          variantColor: 'green',
          variantImage: './resources/sock1.png',
          variantQuantity: 10
        }, {
          variantId: 2,
          variantColor: 'blue',
          variantImage: './resources/sock2.png',
          variantQuantity: 0
        }]
      }
    },
    methods: {
      addToCart() {
        this.$emit('add-to-cart');
      },
      updateProduct(index) {
        this.selectedProduct = index;
      }
    },
    computed: {
      image() {
        return this.variants[this.selectedProduct].variantImage;
      },
      inStock() {
        return this.variants[this.selectedProduct].variantQuantity;
      }
    }
  });


  var app = new Vue({
    el: '#app',
    data: {
      cart: 0
    },
    methods: {
      updateCart() {
        this.cart += 1;
      }
    }
  });
</script>

</html>